body {
    text-align: center;
    background: rgb(109, 70, 44);
}
.capa {
    width: 100%;
}
img {
    width: 500px;
    height: 500px;
}
img, p {
    display: inline-block;
}
img, p {
    float: center;
}
.beneficios {
text-align: left;
background-color: rgb(255, 166, 240);
}